body {
    font-family: Arial, sans-serif;
    background-color: #BADBFD;
    margin: 0;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    background-color: #BADBFD;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo {
    text-align: center;
}

.logo img {
    width: 200px;
}

.right {
    background-color: #307cec;
    width: 70%;              /* Lebar tetap sama */
    max-width: 800px;        /* Lebar maksimum tetap */
    height: 70vh;            /* Tinggi tetap proporsional */
    padding: 20px;           /* Padding untuk ruang konten */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;     /* Rounded rectangle */
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.2); /* Bayangan */
    margin: auto;            /* Pusatkan dalam parent */
}


.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

h1 {
    color: #ff5722;
    font-size: 36px;
    font-weight: bold;
    margin: 0 0 80px; /* Menambahkan jarak 30px ke bawah */
    text-align: center;
}


button {
    color: #2196F3;
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 10px 20px;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
    font-size: 16px;
}

button:hover {
    background-color: #bbbbbb;
}
